
.linkss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px!important;
}

.left-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;

}
.input-group-text {
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
  }
  
  .input-group-text .fa-search {
    color: #28a745; /* Match your button variant color */
  }
  .nav-link {
    font-size: 1.5rem; /* Adjust icon size */
    color: #28a745; /* Match your design color */
  }
  
  .nav-link:hover {
    color: #218838; /* Adjust hover color */
  }
  .login{
    background-color: #e4f5ff!important;
    color: rgb(6, 106, 201);
    margin-left:10px ;
    width: 90px!important;
    text-align: center;

  }
  .signin{
    display: flex;
    justify-content: center;
    
    
    align-items: center;
  }
  .nav-nav {
    background-color: white!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
 